<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Rehabilitation Management</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="far fa-hospital text-dark"> </i> </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Rehabilitation Management
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                  <h3>{{today | date:'fullDate'}}</h3>
                </div>
            </div>

            <div class="row">				
              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <div class="card-body bg-gradient-green">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-white mb-0">
                          Daily Revenue
                        </h5>

                        <span class="h2 font-weight-bold mb-0"> RM897 </span>
                      </div>

                      <!-- <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                          <i class="ni ni-active-40"> </i>
                        </div>
                      </div> -->
                    </div>

                    <!-- <p class="mt-3 mb-0 text-sm">
                      <span class="text-success mr-2">
                        <i class="fa fa-arrow-up"> </i> 3.48%
                      </span>

                      <span class="text-nowrap"> Since last month </span>
                                  </p> -->
                                  <div class="progress-xs mb-0">
                                      <progressbar type="warning" [value]="60"> </progressbar>
                                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <div class="card-body bg-gradient-green">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-white mb-0">
                          Weekly Revenue
                        </h5>

                        <span class="h2 font-weight-bold mb-0"> RM4653 </span>
                      </div>
                    </div>

                    <div class="progress-xs mb-0">
                                      <progressbar type="warning" [value]="69"> </progressbar>
                                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <div class="card-body bg-gradient-green">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-white mb-0">
                          Monthly Revenue
                        </h5>

                        <span class="h2 font-weight-bold mb-0"> RM15352 </span>
                      </div>
                    </div>

                                  <div class="progress-xs mb-0">
                                      <progressbar type="warning" [value]="76"> </progressbar>
                                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                  <div class="card-body bg-gradient-green">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-white mb-0">
                          Total Revenue
                        </h5>

                        <span class="h2 font-weight-bold mb-0"> RM342897 </span>
                      </div>
                    </div>

                                  <div class="progress-xs mb-0">
                                      <progressbar type="warning" [value]="90"> </progressbar>
                                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class=" card-header"><h5 class=" h3 mb-0">Revenue By Month</h5></div>
				<div class="row align-items-center">
					
					<div class="card-body">
						<div class="chart">
							<div class="amchart" id="chartRehab1"></div>
						</div>
					</div>
				</div>
			</div>
        </div>
        
        <div class=" col-xl-8">
            <div class=" card">
                <div class=" card-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h5 class=" h3 mb-0">Rehabilitation Schedule</h5>
                        </div>
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-default" type="button">Search</button>
                        </div>           
                    </div>
                </div>
      
              <div class=" card-body p-0">
                <ul class=" list-group list-group-flush" data-toggle="checklist">
                  <li
                    class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
                  >
                    <div class=" checklist-item checklist-item-success">
                      <div class=" checklist-info">
                        <h5 class=" checklist-title mb-0">Room 1</h5>
      
                        <small> 10:30 AM </small>
                      </div>
      
                      <div>
                        <div
                          class=" custom-control custom-checkbox custom-checkbox-success"
                        >
                          <input
                            checked="checked"
                            class=" custom-control-input"
                            id="chk-todo-task-1"
                            type="checkbox"
                          />
      
                          <label class=" custom-control-label" for="chk-todo-task-1">
                          </label>
                        </div>
                      </div>
                    </div>
                  </li>
      
                  <li
                    class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
                  >
                    <div class=" checklist-item checklist-item-warning">
                      <div class=" checklist-info">
                        <h5 class=" checklist-title mb-0">Room 2</h5>
      
                        <small> 10:30 AM </small>
                      </div>
      
                      <div>
                        <div
                          class=" custom-control custom-checkbox custom-checkbox-warning"
                        >
                          <input
                            class=" custom-control-input"
                            id="chk-todo-task-2"
                            type="checkbox"
                          />
      
                          <label class=" custom-control-label" for="chk-todo-task-2">
                          </label>
                        </div>
                      </div>
                    </div>
                  </li>
      
                  <li
                    class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
                  >
                    <div class=" checklist-item checklist-item-info">
                      <div class=" checklist-info">
                        <h5 class=" checklist-title mb-0">Room 3</h5>
      
                        <small> 10:30 AM </small>
                      </div>
      
                      <div>
                        <div
                          class=" custom-control custom-checkbox custom-checkbox-info"
                        >
                          <input
                            class=" custom-control-input"
                            id="chk-todo-task-3"
                            type="checkbox"
                          />
      
                          <label class=" custom-control-label" for="chk-todo-task-3">
                          </label>
                        </div>
                      </div>
                    </div>
                  </li>
      
                  <li
                    class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
                  >
                    <div class=" checklist-item checklist-item-danger">
                      <div class=" checklist-info">
                        <h5 class=" checklist-title mb-0">Room 4</h5>
      
                        <small> 10:30 AM </small>
                      </div>
      
                      <div>
                        <div
                          class=" custom-control custom-checkbox custom-checkbox-danger"
                        >
                          <input
                            checked="checked"
                            class=" custom-control-input"
                            id="chk-todo-task-4"
                            type="checkbox"
                          />
      
                          <label class=" custom-control-label" for="chk-todo-task-4">
                          </label>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    </div>
    
    <div class="col-lg-12 col-4 text-right">
        <button class="btn btn-default" type="button">Register New</button>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h6 class="h2 text-dark d-inline-block mb-0">Find File</h6> 
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class=" col-sm-6 col-md-3">
                            <div class=" form-group">
                              <label class=" form-control-label" for="example-date-input">
                                Date Registered
                              </label>
                  
                              <input
                                class=" form-control"
                                id="example-date-input"
                                type="date"
                                value="2018-11-23"
                              />
                            </div>
                          </div>
                  
                          <div class=" col-sm-6 col-md-3">
                            <div class=" form-group">
                              <label class=" form-control-label" for="example4cols2Input">
                                Category
                              </label>
                  
                              <select class="form-control custom-select">
                                <option hidden selected>Please pick</option>
                                <option> 1</option>
                                <option> 2</option>
                                <option> 3</option>
                                <option> 4</option>
                            </select>
                            </div>
                          </div>
                  
                          <div class=" col-sm-6 col-md-3">
                            <div class=" form-group">
                              <label class=" form-control-label" for="example4cols3Input">
                                Doctor
                              </label>
                  
                              <input
                                class=" form-control"
                                id="example4cols3Input"
                                placeholder="Doctor"
                                type="text"
                              />
                            </div>
                          </div>
                  
                        <div class="col-md-12 col-lg-2 d-flex align-items-center">
                            <button class="btn btn-default" type="button">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <div class=" card">
        <!-- <div class=" card-header">
          <h3 class=" mb-0">Ngx Datatables</h3>

          <p class=" text-sm mb-0">
            This is an exmaple of datatable using the well known ngx-datatable
            plugin. This is a minimal setup in order to get started fast.
          </p>
        </div> -->
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="temp"
            (activate)="onActivate($event)"
          >
                <ngx-datatable-column name="Patient ID" >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.patientId}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Patient Name" >
                    <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.patientName}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Category"></ngx-datatable-column>
                <ngx-datatable-column name="Doctor"></ngx-datatable-column>
        
                <ngx-datatable-column name="Action">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button class=" btn btn-icon btn-success btn-sm" type="button" title="View">
                            <span class=" btn-inner--icon"> <i class=" far fa-eye"> </i> </span>
                        </button>
                        <button class=" btn btn-icon btn-danger btn-sm" type="button" title="Delete">
                            <span class=" btn-inner--icon"> <i class=" fas fa-trash"> </i> </span>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
          </ngx-datatable>
        </div>
    </div>

</div>